


# Compiled binary files
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Build directories
/build/
/third_party/

# CMake and Make artifacts
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Visual Studio Code
.vscode/


# Logs and temporary files
*.log
*.tmp
*.swp


__pycache__/
*.pyc

mongo.txt
