<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Landing Simulation</title>
    <link rel="stylesheet" href="../static/css/landing.css">
</head>
<body>
    <script src="../static/js/starfield.js"></script>
    <section class="hero">
        <h1>ZeroGLanding </h1>
        <p>
            Experience the precision of autonomous rocket landings with this interactive simulation. Configure initial conditions, see the results, and explore the possibilities. Created by Anthony Mendoza—dive in and have fun!
        </p>
        <div class="button-group">
            <a href="/simulation-presets" class="button primary-button">Get Started</a>
            <a href="/creatorCorner" class="button secondary-button">Creator's Corner</a>
        </div>
    </section>

    <section class="features">

        </div>
    </section>
</body>
</html>