body { margin: 0; }

canvas { display: block; }

#controls { position: absolute; top: 10px; left: 10px; z-index: 1; }

#overlay-text { 
  position: absolute; 
  top: 14px; 
  left: 14px; 
  color: white; 
  font-size: 24px; 
  z-index: 1; 
}

body {
  margin: 0;
  background-color: #121212;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 20px;
  padding: 20px;
  background-color: #121212;
}
.graph-container {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}